.body {
    color: lightskyblue;
}
.box { 
    border-style:inset;
}
.fl {
    font-size: xx-large;
}
.wh {
    color: linen;
}
.lgr {
    color: limegreen;
}
.sal {
    background-color: lightsalmon;
}