.body {
    background-color: lightskyblue;
}
.box { 
    border-style:inset;
}
.fl {
    font-size: xx-large;
}
.wh {
    background-color: yellow;
}
.lgr {
    background-color: limegreen;
}
.sal {
    background-color: lightsalmon;
}
.l{
    font-size: x-large;
}