.body {
    background-color:lightskyblue
}
.box { 
    border-style:inset;
}
.fl {
    font-size: xx-large;
}
.wh {
    background-color: lightyellow;
}
.lgr {
    background-color: greenyellow;
}
.sal {
    background-color: lightsalmon;
}